* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
}

#intro-container {
    background: linear-gradient(to bottom, #ffffff, #99bbff);
}

    .large-title {
        text-align: center;
        font-weight: bold;
    }

        .bio-content {
            display: inline-block;
            vertical-align: middle;
        }

        #bio-para {
            font-size: 135%;
        }

.row {
    max-height: 150px;
}

    .skill-image {
        display: inline-block;
        object-fit: contain;
    }

#footer {
    position: relative;
    background-image: url("../img/footer.jpg");
    height: 595px;
    width: 100%;
}

    .contact-element {
        display: inline;
        margin-left: 2%   
    }

    .contact-element:first-child {
        margin-left: 0;
    }

    #copyright {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        color: white;
    }

        