* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
}

#intro-container {
    background: linear-gradient(to bottom, #ffffff, #99bbff);
}

    .large-title {
        text-align: center;
        font-weight: bold;
    }

        .bio-content {
            display: inline-block;
            vertical-align: middle;
        }

        #bio-para {
            font-size: 135%;
        }

.row {
    max-height: 150px;
}

    .skill-image {
        display: inline-block;
        object-fit: contain;
    }

#footer {
    background-image: url("../img/footer.jpg");
    height: 575px;
    width: 100%;
}

    #contact-group {
        text-align: center;
    }

        