<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tiange Wang</title>
    <link rel="stylesheet" href="css/expsrc.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <img src="img/es_cover.jpg"  class="img-fluid" alt="es_cover">
    <div class="fluid-container p-4" id="main-container">
        <a href="https://devpost.com/software/express-scratch" class="btn btn-primary">Check it out!</a>
        <a href="/" class="btn btn-success float-right">Home</a> 
        <h1 class="large-title">Express Scratch</h1>
        <div class="fluid-container p-4">
            <ul class="ml-5 mr-5" id="main-para">
                <li>Worked in a 5-man team that helped the Non-Profit organization EARN with a money saving encouragement program by creating the web-app “express scratch”.</li>
                <li>Communicated with the representatives of the NPO to adjust to the needs of the organization and the customers.</li>
                <li>Brainstormed ideas of both design philosophy and app architecture.</li>
                <li>Contributed to the project by building the database schema and API, modularizing the program, applying front-end templating and writing a randomizing algorithm for the process of distributing prizes to the top money savers.</li>
                <li>Utilized technologies include node.js, express.js, MongoDB, bootstrap, jQuery, PayPal API and gyft API.</li>
            </ul>
        </div>
        <img class="d-block w-75 work-imgs" src="img/work_imgs/award.jpg" alt="Award">  
        <img class="d-block w-75 work-imgs mt-3" src="img/work_imgs/es2.png" alt="es2">  
        <img class="d-block w-75 work-imgs mt-3" src="img/work_imgs/es3.png" alt="es3">  
        <img class="d-block w-75 work-imgs mt-3" src="img/work_imgs/es_main.png" alt="es3">  
        <img class="d-block w-75 work-imgs mt-3" src="img/work_imgs/es4.png" alt="es4"> 
    </div>
    <%- include footer.ejs %>
</body>
</html>