<link rel="stylesheet" href="css/footer.css">
<script src="js/index.js"></script>

<div id="footer" class="container-fluid large-title pt-4">
    <h1 class="large-title" id="footer-title">My Contacts</h1>
    <ul class="mt-4">
        <li class="contact-element"><button id="github" style="background: url('img/github_icon.png'); width: 102px; height: 102px; border-radius: 20%"/></li>
        <li class="contact-element"><button id="linkedin" style="background: url('img/linkedin_icon.png'); width: 102px; height: 102px; border-radius: 20%"/></li>
        <li class="contact-element"><button id="email" style="background: url('img/email_icon.png'); width: 102px; height: 102px; border-radius: 20%"/></li>
        <li class="contact-element"><button id="phone" style="background: url('img/phone_icon.png'); width: 102px; height: 102px; border-radius: 20%"/></li>
        <li class="contact-element"><button id="hangout" style="background: url('img/hangout_icon.png'); width: 102px; height: 102px; border-radius: 20%"/></li>
        <li class="contact-element"><button id="skype" style="background: url('img/skype_icon.png'); width: 102px; height: 102px; border-radius: 20%"/></li>
    </ul>
    <h4 id="contact-info">ID: TgWang1023</h4>
    <h5 id="copyright">© 2018 Tiange Wang. All rights reserved.</h5>
</div>