<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tiange Wang</title>
    <link rel="stylesheet" href="css/helwo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <img src="img/hw_cover.jpg"  class="img-fluid" alt="es_cover">
    <div class="fluid-container p-4" id="main-container">
        <a href="http://18.220.253.195/" class="btn btn-primary">Check it out!</a>
        <a href="/" class="btn btn-success float-right">Home</a> 
        <h1 class="large-title">Hello World</h1>
        <div class="fluid-container p-4">
            <ul class="ml-5 mr-5" id="main-para">
                <li>Built a group chat web-app that features video chat, text chat, drawing board and YouTube video watching with translation capabilities designed for multi-language communication and business meetings.</li>
                <li>Contributed to the project by implementing video chat with OpenVidu, text chat with socket.io, drawing board with MyScript and fully functional backend structure featuring code modularization.</li>
                <li>Collaborated closely with teammates who implemented google translation API and annyang voice-to-text API.</li>
                <li>Utilized technologies include node.js, express.js, angular, MongoDB, jQuery and bootstrap.</li>
            </ul>
        </div>
        <img class="d-block w-75 work-imgs" src="img/work_imgs/hw1.png" alt="hw1">  
        <img class="d-block w-75 work-imgs mt-3" src="img/work_imgs/hw2.png" alt="hw2">  
        <img class="d-block w-75 work-imgs mt-3" src="img/work_imgs/hw3.png" alt="hw3">  
        <img class="d-block w-75 work-imgs mt-3" src="img/work_imgs/hw4.png" alt="hw4">  
        <img class="d-block w-75 work-imgs mt-3" src="img/work_imgs/hw_main.png" alt="hw5"> 
    </div>
    <%- include footer.ejs %>
</body>
</html>